/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Roboto&display=swap');


.App {
  text-align: center;
  height: 800px;
  max-width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/*######### NAVIGATION ########*/

#navigation {
  width: 100%;  
  background-color: #ffffff;
  -webkit-box-shadow: 0 6px 5px -6px #7d695f;
	-moz-box-shadow: 0 9px 5px -6px #7d695f;
	box-shadow: 0 9px 5px -6px #7d695f;
  height: 100px;
  display: flex;
  
}

#logoWrap{
  width: 30%;
}

#logopic{
  height: 70px;
  margin-left: 20px;
}

#navBar {
  width: 100px;
  height: 100px;
  padding-top: 20px;
  padding-bottom: 15px;
}



#logoWrap{
  width: 30%;
  margin-top: 10px;
}

#navBtn {
  padding-left: 200px;
  padding-top: 30px;
  width: 30%;
  
}

#navBtns{
  margin: 10px;
  background-color: #E8DEBD;
  border: 1px solid #7D695F;
}

.header {
  width: 30%;
  

}

#H1SignIn {
  width: 100%;
  margin-right: 40px;
  margin-top: 30px;
  font-family: Amatic SC;
  font-size: 40px;
}

/* NAVIGATION */


#plantCard {
  width: 30%;
  padding: 10px;
  text-align: center;
  
}

#plantCardBg{
  width:100%;
  display: flex;
  flex-flow: row wrap;
}

/* DRAWER IN DASHBOARD */

#dashBg{
  background-image: url(./img/cactus-2117102_1920.jpg);
  background-size: cover;
  height: 120vh;
 
}

.drawer {
  background-color: rgba(151, 198, 165, 0.6);
  width: 200px;
  height: 500px;
}

.drawerBtn{
  padding-top: 10px;
  margin-bottom: 10px;
}

.addHeader{
  text-align: center;
  margin-top: 1%;

}


/* HAMBURGERRRRR */

#page-nav {
  width: 100%;
  background-color: rgba(151, 198, 165, 0.8);
  height: 50px;
  
}

.hamBtn{
  border: 1px solid #fff;
  border-radius: 5px;
  font-family: 'Roboto';
  margin-top: 3px;
  margin-left: 10px;
}


/* Hide Hamburger */
#page-nav label, #hamburger {
  display: none;
}

/* Menu Items */
#page-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0; 
  text-align: center;
}
#page-nav ul li {
  display: inline-block;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
}
#page-nav ul li a {
  color: #000000;
  text-decoration: none;
}

/* HAMBURGERRRRR */

/* SIGN IN FORM & SIGN UP */

.loginbg{
  height: 120vh;
  width: 100%;
  background-image: url('./img/close-up-photo-of-green-leafed-plant-1407305.jpg');
  background-size: cover;
}

.styledSignInButton{
  width: 80%;
  font-family: "Roboto";
  color: #000000;
  border-radius: 3px;
  font-size: 1rem;
  background: #97C6A5;
  padding: 8px 0 8px 0;
  border: none;
  cursor: pointer;
  margin-bottom: 20px;
  margin-left: 60px;
}

#signCard{
  border-radius: 4px;
  width: 50rem;
  margin-left: 33%;
  margin-top: 50px;
  padding: 10px;
  background-color: white;
  
}

.signUpBtn{
  width: 80%;
  height: 30px;
  background-color: #97C6A5;
  color: black;
  border-radius: 2px;
  margin-bottom: 10px;
  margin-left: 80px;
  font-size: 15px;
}


/* EDIT FORM */

#updateFrm{
  margin-left: 20%;
}

/* RESPONSIVE DESIGN BELOW */

@media only screen and (max-width: 2500px){

  #navBtn {
    padding-left: 250px;
    padding-top: 30px;
    width: 30%;
  }

  #H1SignIn {
    width: 100%;
    text-align: center;
    margin-left: 100px;
    margin-top: 30px;
    font-family: Amatic SC;
    font-size: 40px;
  }

  .loginCard{
    background: white;
    border-radius: 3px;
    width: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    margin-top: 10%;
    margin-bottom: 10%;
  }

  #signCard{
    border-radius: 4px;
    width: 50rem;
    margin: auto;
    margin-top: 10%;
    background-color: white;
    
  }

  

}

@media only screen and (max-width: 1600px){
  #navBtn {
    padding-left: 250px;
    padding-top: 30px;
    width: 30%;
  }

  #H1SignIn {
    width: 100%;
    margin-left: 100px;
    margin-top: 30px;
    font-family: Amatic SC;
    font-size: 40px;
  }

  .loginCard{
    background: white;
    border-radius: 3px;
    width: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    margin-top: 10%;
    margin-bottom: 10%;
  }
 

} 



@media only screen and (max-width: 1500px){
  #navBtn {
    padding-left: 100px;
    padding-top: 30px;
    width: 30%;
  }
 

}

@media only screen and (max-width: 1400px){
  #navBtn {
    padding-left: 100px;
    padding-top: 30px;
    width: 30%;
  }
 

}

@media only screen and (max-width: 1290px){
  #navBtn {
    padding-left: 100px;
    padding-top: 30px;
    width: 30%;
  }

  #signCard{
    border-radius: 4px;
    width: 40rem;
    margin: auto;
    margin-top: 50px;
    padding: 10px;
    background-color: white;
    
  }

}

@media only screen and (max-width: 1200px){
  #navBtn {
    padding-left: 180px;
    padding-top: 30px;
    width: 30%;
  }

  #H1SignIn {
    width: 100%;
    margin-left: 60px;
    margin-top: 30px;
    font-family: Amatic SC;
    font-size: 40px;
  }

}

@media only screen and (max-width: 1090px){
  #navBtn {
    padding-left: 275px;
    padding-top: 30px;
    padding-right: 10px;
    width: 10%;
  }

  #navBtns{
    margin: 1px;
  }

  #H1SignIn {
    text-align: center;
    font-family: Amatic SC;
    font-size: 44px;
    margin-left: 60px;
    
  }

  .signUpBtn{
    width: 70%;
    height: 30px;
    background-color: #97C6A5;
    color: black;
    border-radius: 2px;
    margin-bottom: 10px;
    margin-left: 80px;
    font-size: 15px;
  }



}

@media only screen and (max-width: 990px){
  #navBtn {
    padding-left: 100px;
    padding-top: 30px;
    width: 30%;
  }
  

}

@media only screen and (max-width: 890px){
  #navBtn {
    padding-left: 100px;
    padding-top: 30px;
    width: 30%;
  }

  #H1SignIn {
    text-align: center;
    font-family: Amatic SC;
    margin-left: 40px;
    
  }

}

@media only screen and (max-width: 800px){
  #navBtn {
    padding-left: 100px;
    padding-top: 30px;
    width: 30%;
  }

}

@media only screen and (max-width: 770px){
  #navBtn {
    padding-left: 60px;
    padding-top: 30px;
    width: 30%;
    margin-left: 40px;
    margin-top: 10px;
  }

  .addHeader{
    text-align: center;
    margin-top: 12%;
  
  }

  #H1SignIn {
    text-align: center;
    font-family: Amatic SC;
    font-size: 44px;
    margin-left:30px;
    
  }

  #updateFrm{
    margin-left: 20%;
    margin-top: 15%;
  }

  #plantCardBg{
    margin-top: 100px;
  }

  #page-nav {
    width: 100%;
    background-color: rgba(151, 198, 165, 0.8);
    height: 50px;
    margin-bottom: 30px;
  }

  
  #page-nav label {
    display: inline-block;
    color: #000000;
    background-color:#e8debd;
    font-style: normal;
    font-size: 1.2em;
    padding: 10px;
    height: 50px;
  }

  
  /* Break down menu items into vertical */
  #page-nav ul li {
    display: block;
  }
  #page-nav ul li {
    border-top: 1px solid #333;
    background-color: #e8debd;
  }

  /* Toggle show/hide menu on checkbox click */
  #page-nav ul {
    display: none;
  }
  #page-nav input:checked ~ ul {
    display: block;
  }

  #page-nav ul li {
    margin-right: 20px;
  }

}

/* IPHONE 7 and below */

@media only screen and (max-width: 650px){
  #navBtn {
    padding-left: 60px;
    padding-top: 30px;
    padding-right: 10px;
    width: 30%;
  }

  #navBtns{
    margin: 1px;
  }

  #H1SignIn {
    text-align: center;
    font-family: Amatic SC;
    font-size: 40px;
  }

  #signCard{
    border-radius: 4px;
    width: 30rem;
    margin: auto;
    margin-top: 50px;
    padding: 10px;
    background-color: white;
    
  }



}


@media only screen and (max-width: 580px){

  #dashBg{
    background-color: rgb(240, 240, 240);
    margin-top: 10vh;
    height: 800px;
  }

  #navBtn {
    padding-left: 50px;
    padding-top: 30px;
    padding-right: 10px;
    width: 30%;
  }
  
  #H1SignIn {
    text-align: center;
    font-family: Amatic SC;
    font-size: 32px;
  }

  #navBtns{
    margin: 1px;
  }

  #updateFrm{
    margin-top: 25%;
    margin-left: 5%;
  }

  .loginCard{
    background: white;
    border-radius: 3px;
    width: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    margin-top: 10%;
    margin-bottom: 10%;
  }

  #dashBg{
    height: 100%;
    width: 100%;
  }

  #plantCard {
    width: 100%;
    padding: 10px;
    text-align: center;
    
  }
  
  #plantCardBg{
    width:100%;
    display: flex;
    flex-flow: row wrap;
  }

 

  .addHeader{
    text-align: center;
    margin-top: 20%;
  
  }

}


/* IPHONE X */
@media only screen and (max-width: 480px){
  #navBtn {
    padding-left: 40px;
    padding-top: 30px;
    padding-right: 10px;
    width: 30%;
  }

  #navBtns{
    margin: 1px;
  }

  #H1SignIn {
    text-align: center;
    font-family: Amatic SC;
    font-size: 25px;
    margin-left: 26px;
  }

  .loginCard{
    background: white;
    border-radius: 3px;
    width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    margin-top: 10%;
    margin-bottom: 10%;
  }

  #styledSignInButton{
    width: 60%;
    font-family: "Roboto";
    color: #000000;
    border-radius: 3px;
    font-size: 1rem;
    background: #97C6A5;
    padding: 8px 0 8px 0;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
    margin-left: 60px;
  }

  #dashBg{
    height: 100%;
  }

  #plantCard {
    width: 100%;
    padding: 10px;
    text-align: center;
    
  }
  
  #plantCardBg{
    width:100%;
    display: flex;
    flex-flow: row wrap;
  }

  #signCard{
    border-radius: 4px;
    width: 20rem;
    margin: auto;
    margin-top: 50px;
    padding: 10px;
    background-color: white;
    
  }

  .signUpBtn{
    width: 70%;
    height: 30px;
    background-color: #97C6A5;
    color: black;
    border-radius: 2px;
    margin-bottom: 10px;
    margin-left: 40px;
    font-size: 15px;
  }

  #addForm{
    margin-top: 25%;
  }


  .addHeader{
    text-align: center;
    margin-top: 25%;
  
  }

  #page-nav ul li {
    margin-right: 10px;
  }

}


/* IPHONE 6/7/8 */
@media only screen and (max-width: 380px){
  #navBtn {
    padding-left: 25px;
    width: 20%;
  }

  #logopic{
    height: 50px;
    margin-left: 10px;
    margin-top: 20px;
  }

  #navBtns{
    margin-right: 10px;
    
  }

  .loginCard{
    background: white;
    border-radius: 3px;
    width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    margin-top: 10%;
    margin-bottom: 10%;
  }

  #styledSignInButton{
    width: 60%;
    font-family: "Roboto";
    color: #000000;
    border-radius: 3px;
    font-size: 1rem;
    background: #97C6A5;
    padding: 8px 0 8px 0;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
    margin-left: 60px;
  }
  

  #H1SignIn {
    text-align: center;
    font-family: Amatic SC;
    font-size: 24px;
    margin-left: 10px;
    margin-top: 40px;
  }

  #dashBg{
    height: 100%;
  }

  #plantCard {
    width: 100%;
    padding: 10px;
    text-align: center;
    
  }
  
  #plantCardBg{
    width:100%;
    display: flex;
    flex-flow: row wrap;
  }
  

  .addHeader{
    text-align: center;
    margin-top: 27%;
  
  }

  #page-nav ul li {
    margin-right: 10px;
  }
  #addForm{
    margin-top: 28%;
  }

}

/* IPHONE 5-S */

@media only screen and (max-width: 320px){
  #navBtn {
    padding-left: 20px;
    width: 20%;
  }

  #logopic{
    height: 50px;
    margin-left: 10px;
    margin-top: 10px;
  }

  #updateFrm{
    margin-top: 30%;
  }

  #navBtns{
    margin-right: 10px;
    
  }

  .loginCard{
    background: white;
    border-radius: 3px;
    width: 18rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    margin-top: 10%;
    margin-bottom: 10%;
  }

  #styledSignInButton{
    width: 50%;
    font-family: "Roboto";
    color: #000000;
    border-radius: 3px;
    font-size: 1rem;
    background: #97C6A5;
    padding: 8px 0 8px 0;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
    margin-left: 60px;
  }

  #signCard{
    border-radius: 4px;
    width: 19rem;
    margin: auto;
    margin-top: 50px;
    padding: 10px;
    background-color: white;
    
  }

  .signUpBtn{
    width: 40%;
    height: 30px;
    background-color: #97C6A5;
    color: black;
    border-radius: 2px;
    margin-bottom: 10px;
    margin-left: 80px;
    font-size: 15px;
  }

  #H1SignIn {
    text-align: center;
    font-family: Amatic SC;
    font-size: 24px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  #dashBg{
    height: 100%;
    width: 100%;
  }

  #plantCard {
    width: 100%;
    padding: 10px;
    text-align: center;
    
  }
  
  #plantCardBg{
    width:100%;
    display: flex;
    flex-flow: row wrap;
  }
  

  .addHeader{
    text-align: center;
    margin-top: 27%;
  
  }

  #page-nav {
    width: 342px;
    background-color: rgba(151, 198, 165, 0.8);
    height: 50px;

    
  }

  #page-nav ul li {
    margin-right: 10px;
  }

  #addForm{
    margin-top: 28%;
  }

}

button {
    color: black;
    background: #97C6A5;
    border: 1px solid #7D695F;
    font-size: 13px;
    border-radius: 6px;
    outline: none;
    margin-top: 10px;
    margin-right: 5px;
    margin-bottom: 15px;
    cursor: pointer;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

